.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bgimg {
  background-image: url('../images/bedroom.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.invite-friend {
  z-index: 1;
  position: relative;
  bottom: 480px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  padding-top: 150px;
  height: 480px;
  width: 414px;
}

.invite-link {
  margin-top: 20px;
  background-color: white !important;
  width: 300px !important;
}

.opponent-field {
  z-index: 0;
}

.footer {
  z-index: 2;
  position: absolute;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 1200px) {
  .page-height{
    height: 100vh;
  }
  .footer{
    right: 10%;
    bottom: 5%;
  }
}
@media (max-width: 460px) {
  .bgimg {
    width:460px;
  }
}

@media (max-width: 1200px) {
  .page-height{
    height: 100%;
  }
  .footer{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20%;
  }
}